<div class="col-xs-6 col-md-4">
    <a><%= link_to 'Show', product %></a> |
    <a><%= link_to 'Edit', edit_product_path(product) %></a> |
    <a><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    <h2 class="product-title"><%= product.name %></h2>
    <h2 class="product-title back-layer"></h2>
    <%=image_tag(product.image_url, class: "img-responsive", id: "product_image") %>
    <p><strong>Description:</strong><%= product.description %>
    <br>
    <br>
    <strong>Price: </strong><%= product.price %>
    <br>
    <br>
    <strong>Colour:</strong><%= product.colour %></p>
</div>