<p id="notice"><%= notice %></p>

<div class = "product-description">
<h1>Our Bikes</h1>


<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
<div class="col-sm-2 col-md-3">
<h2><%= product.name %></h2>
<%= image_tag(product.image_url, class: "img-responsive") %>
<p><%= product.description %></p>
<strong>$<%= product.price %></strong>
<%= link_to 'Show', product %>
<%= link_to 'Edit', edit_product_path(product) %>
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
</div><!-- /col -->

<% end %>`

<br>

<%= link_to 'New Product', new_product_path, class:'btn btn-primary new-product-btn' %>
