<% @products.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |product| %>
        <div class = "col-sm-2 col-md-3">      
          <%= image_tag(product.image_url, class: "img-responsive img-box")  %>
          <div class="product-details-box">
            <h4><%= product.name %></h4>
            <h5><%= product.colour %></h5>
            <h6><%= product.price %></h6>
            <span class="detail"><%= link_to 'Show', product %></span>
            <span class="detail"><%= link_to 'Edit', edit_product_path(product) %></span>
            <span class="detail"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </div>
        </div><!-- /column -->
      <% end %>
    </div><!-- /row -->
<% end %>