<p id="notice"><%= notice %></p>

<div class="container fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</div>
		
		<div class="col-xs-12 col-md-6">
			<h2><%= @product.name %></h2>
				<p><%= @product.description %></p><br>
				<p><strong><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> </strong><%= @product.price %></br>
				<strong><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </strong><%= @product.colour %></br></p>
		</div>
	</div>
	<div class="row">
    	<div class="col-xs-12 col-md-6 ">
       	<h4><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> User Ratings</h4>			
					
					<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
					
					<%=	 render "comments/comments" %>
					<%= form_tag "/payments/create" do %>
  				<%= render partial: "shared/stripe_checkout_button" %>
  				<%= hidden_field_tag(:product_id, @product.id) %>
					<% end %>
					<%=	 render "comments/new_comment" %>
					
					<%= will_paginate @comments %>
		</div>
	</div>
</div>