<div class="product_row" data-product-id="<%= @product.id %>">

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <% cache @product do %>
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "image_tag(@product.image_url(:large))")  %>
    </div>
  </div>

  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
        </div>
      <% end %>
    <div class="col-sm-6 col-md-6">
      <div class="caption">
        <p>
          <h2><%= @product.name %></h2>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <p>
          <strong>Colour:</strong>
          <%= @product.colour %>
        </p>
        <p>
          <strong>Price:</strong>
          $<%= @product.price %>
        </p>
        
        <p>Average Rating: <span class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></span> </p>
      
      <div>
        <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>
    </br>
      <% if  current_user && current_user.admin? %>
          <span class="btn btn-primary btn-colour-change" role="button"><%=  link_to 'Edit', edit_product_path(@product)  %></span>
        <% end %> 
        <span class="btn btn-primary btn-colour-change" role="button"><%= link_to 'Back', products_path %></span>
      </div>
    </div>       
 </div>
<br>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!>
</div>
  <%= render 'comments'  %>
  <% end %>
<%= render 'new_comment' %>
    </div>
  </div>
</br>
  <div class="row">
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <% if signed_in? %>
    <div class="col-xs-12 col-sm-5 col-md-5 comments">
      <%= render partial: "new_comment", locals: {comment: @comment} %>
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1 comments"></div>
    <% end %>
    
          <%= will_paginate @comments, :container => false %>
      </div>
    </div>
  </div>




