<!DOCTYPE html>
<html>
<head>
  <title>Bikes Galore</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
  <%= action_cable_meta_tag %>
  
</head>
 <body class="body-top-padding">
   
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="container-fluid nav-text">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div class="companyName navbar-brand">
          <a id="brand-name" href="/static_pages/index">Bikes Galore</a>
        </div>         	
        
         
          <%= form_tag("/products", method: "get", class: "navbar-form navbar-left", role: "search") do %>
          <div class="form-group">
          <%= label_tag(:q, "", class: "sr-only") %>
          <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search") %>
          <%= submit_tag("Go", class: "btn") %>
          <% end %>
          </div>
        
      </div>
           
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Home', static_pages_landing_page_path) %></li> 
          <li><%= link_to("Products", products_path) %></li>
          <li><%= link_to("About", static_pages_about_path) %></li>
          <li><%= link_to("Contact", static_pages_contact_path) %></li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
            <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
        </ul>
      </div>                    
    </div>
</nav>
<% if notice %>
    <p id="notice" class="alert notice-info"><%= notice %></p>
<% end %> 
  <% if alert %>
    <p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>

<%= yield %>

<footer>
  &copy; 2016 Bikes Galore
</footer>

</body>
</html>
